.red {
    background-color: #F92B00;
}

.pink {
    background-color: #FF9DCB;
    line-height: 32.5px!important;
}

.yellow {
    background-color: #FFD40C;
}

.green {
    background-color: #6CC027;
}

.light-blue {
    background-color: #2BAAC0;
}

.dark-blue {
    background-color: #0B4E80;
}

.black {
    background-color: black;
}

.menu-mobile-center {
    margin-left: auto;
    margin-right: auto;
}

.menu {
    margin-left: 78%;
    margin-top: 35px;
}

.close-btn {
    float: right;
    margin-right: 45px;
    margin-bottom: 30px;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.block {
    width:45px;
    height:65px;
    margin-top: 10px;
}

.hamburger {
    width:45px;
    height:8px;
    margin-top: 5px;
}

.block-expand {
    margin-top: 10px !important;
    width:165px;
    height:65px;
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    line-height: 65px;
}

.mobile-menu {
    margin-top: -45px;
    margin-bottom: 30px;
}


.hover-button .hover-button--on,
.hover-button:hover .hover-button--off {
    display: none;
}

.hover-button:hover .hover-button--on {
    display: block;
}

.header {
    margin-left: 100px;
    margin-top: 25px;
    font-weight: normal;
}

.mobile-head {
    margin-left: 50px;
    margin-top: 25px;
    font-weight: normal;
    font-size: 30px;
}

.underline-mobile {
    margin-left: 50px;
    height: 3px;
    width: 275px;
    background-color: #FFD40C;
}

.underline {
    margin-left: 100px;
    height: 4px;
    width: 375px;
    background-color: #FFD40C;
}

.gallery-computer {
    margin-top: 35px !important;
    margin-left: 100px;
    margin-right: 400px;
}

.ReactGridGallery {
    margin-left: 100px;
    margin-right: 400px;
}

.about-image {
    width: 300px;
    margin-top: 35px;
    margin-left: 100px;
}

.bio {
    margin-top: -475px;
    margin-left: 450px;
    margin-right: 30%;
}

.about-image-tablet {
    width: 200px;
    margin-top: 35px;
    margin-left: 100px;
}

.bio-tablet {
    margin-top: -320px;
    margin-left: 350px;
    margin-right: 30%;
}

.resume {
    color: #F92B00;
    margin-top: 25px;
    margin-bottom: 25px;
}

.about-image-phone {
    width: 100%;
    margin-bottom: 15px;
}

.bio-phone {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

a {
    display: block;
}

.home-img {
  width: 30%;
    border: 1px solid black;
    margin-left: 100px;
    margin-top: 35px;
}

.img-2 {
    margin-left: 40% !important;
    margin-top: -305px !important;
}

.webDesign {
    width: 65%;
    margin-left: 100px;
    margin-top: 20px;
}

.p2 {
    margin-top: 20px !important;
}

.invisionLink {
    color: #F92B00;
    margin-left: 100px;
}

.sewing-carousel {
    width: 550px;
    margin-left: 100px;
}

.sewing-top {
    margin-top: 35px;
}

.sewing-caption {
    margin-left: 700px;
    width: 375px;
}

.sewing-image {
    width: 400px;
}

.peacock-group {
    width: 1000px;
    margin-left: 60px !important;
}

div.sticky {
    position: fixed;
    top: 0;
    margin-left: 78%;
    margin-top: 110px;
}