.red {
    background-color: #F92B00;
}

.pink {
    background-color: #FF9DCB;
    line-height: 32.5px!important;
}

.yellow {
    background-color: #FFD40C;
}

.green {
    background-color: #6CC027;
}

.light-blue {
    background-color: #2BAAC0;
}

.dark-blue {
    background-color: #0B4E80;
}

.black {
    background-color: black;
}

.menu-mobile-center {
    margin-left: auto;
    margin-right: auto;
}

.menu {
    margin-left: 78%;
    margin-top: 35px;
}

.close-btn {
    float: right;
    margin-right: 45px;
    margin-bottom: 30px;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.block {
    width:45px;
    height:65px;
    margin-top: 10px;
}

.hamburger {
    width:45px;
    height:8px;
    margin-top: 5px;
}

.block-expand {
    margin-top: 10px !important;
    width:165px;
    height:65px;
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    line-height: 65px;
}

.mobile-menu {
    margin-top: -40px;
    margin-bottom: 30px;
}


.hover-button .hover-button--on,
.hover-button:hover .hover-button--off {
    display: none;
}

.hover-button:hover .hover-button--on {
    display: block;
}

.header {
    margin-left: 100px;
    margin-top: 25px;
    font-weight: normal;
}

.mobile-head {
    margin-left: 30px;
    margin-top: 25px;
    font-weight: normal;
    font-size: 25px;
}

.underline-mobile {
    margin-left: 30px;
    height: 2px;
    width: 230px;
    background-color: #FFD40C;
    margin-top: -5px;
}

.underline {
    margin-left: 100px;
    height: 4px;
    width: 375px;
    background-color: #FFD40C;
}

.gallery-computer {
    margin-top: 35px !important;
    margin-left: 100px;
    margin-right: 400px;
}

.ReactGridGallery {
    margin-left: 100px;
    margin-right: 400px;
}

.about-image {
    width: 300px;
    margin-top: 35px;
    margin-left: 100px;
}

.bio {
    margin-top: -475px;
    margin-left: 450px;
    margin-right: 30%;
}

.about-image-tablet {
    width: 200px;
    margin-top: 35px;
    margin-left: 100px;
}

.bio-tablet {
    margin-top: -320px;
    margin-left: 350px;
    margin-right: 30%;
}

.resume {
    color: #F92B00;
    margin-top: 25px;
    margin-bottom: 25px;
}

.about-image-phone {
    width: 100%;
    margin-bottom: 15px;
}

.bio-phone {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

a {
    display: block;
}

.web-images {
    padding-left: 80px;
}

.home-img {
    width: 30%;
    border: 1px solid black;
    margin-left: 30px;
    margin-top: 35px;
}

.home-img-md {
    width: 60%;
    border: 1px solid black;
    margin-left: 30px;
    margin-top: 35px;
}

.home-img-sm {
    width: 90%;
    border: 1px solid black;
    margin-left: 30px;
    margin-top: 35px;
}

.webDesign {
    width: 60%;
    margin-left: 100px;
    margin-top: 20px;
}

.webDesign-sm {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}

.p2 {
    margin-top: 20px !important;
}

.invisionLink {
    color: #F92B00;
    margin-left: 100px;
}

.invisionLink-sm {
    color: #F92B00;
    margin-left: 40px;
}

.sewing-carousel {
    width: 35%;
    margin-left: 100px;
}

.sewing-carousel-md {
    width: 60%;
    margin-left: 100px;
}

.sewing-carousel-sm {
    width: 100%;
}

.sewing-top {
    margin-top: 35px;
}

.sewing-caption {
    margin-left: 700px;
    width: 375px;
}

.sewing-image {
    width: 400px;
    display: block;
    margin-left: 100px;
    margin-bottom: 30px;
}

.peacock-group {
    width: 1000px;
    margin-left: 60px !important;
}

div.sticky {
    position: fixed;
    top: 0;
    margin-left: 78%;
    margin-top: 110px;
}

.carousel-text {
    margin-top: -375px;
    margin-left: 45%;
    margin-bottom: 150px;
    margin-right: 25%;
}

.carousel-text-md {
    margin-top: -50px;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-right: 245px;
}

.carousel-text-sm {
    margin-top: -50px;
    margin-left: 20px;
    margin-bottom: 100px;
    margin-right: 20px;
}

.hatsassy {
    margin-bottom: 150px;
}

.jumpsuit {
    margin-bottom: 350px;
}
.jumpsuit-2 {
    margin-top: 20px;
}

.quilt {
    margin-bottom: 350px;
}

.quilt-text {
    margin-top: -250px !important;
    margin-bottom: 200px;
}


.make-mend {
    margin-bottom: 400px;
}

.daph-quilt {
    margin-bottom: 350px;
    margin-top:-230px !important;
    margin-bottom: 200px !important;
}

.make-mend-md {
    margin-top: 8px !important;
}

.sewing-image-text {
    margin-top: 8px !important;
}

.dragon {
    margin-top: -320px;
    margin-bottom: 300px;
}

.dubuffet {
    margin-top: -250px;
    margin-bottom: 230px;
}