

.p-header {
    background: #FB5807;
    font-size: 30px;
    height: 80px;
    color: white;
}

.p-title {
    text-align: center;
    padding-top: 10px;
}

.txt {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.txt2 {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.kal {
    position: fixed;
    bottom: 0;
    right: 0;
}

.kal2 {
    width: 90%;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 667px;
    width: 375px;
    margin-top: 20px;
    outline-color: black;
    outline-width: 1px;
    outline-style: solid;
}

.support-text {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.step {
    margin-top: 50px;
}
